.page {
  margin: 0;
}

.parallax {
  padding: 0;
  box-sizing: border-box;
  position: relative;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
}

.parallax-layer {
  position: absolute;
  inset: 0;
  height: 100%;
}

.parallax-image {
  transform: translateZ(-1px) scale(2);
}

.parallax-calculator {
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
}

.container {
  margin: 17vh auto;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}