.page {
  margin: 0;
}

.parallax {
  padding: 0;
  box-sizing: border-box;
  position: relative;
  perspective: 1px;
  height: 100vh;
  overflow-y: auto;
}

.parallax-layer {
  position: absolute;
  inset: 0;
  height: 100%;
}

.parallax-image {
  transform: translateZ(-2px) scale(2.96);
}

.parallax-calculator {
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
  width: 100%
  ;
}

.container {
  margin: 15vh auto;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}