.items {
  position: absolute;
  margin: 100px 0 0 0;
  padding: 0;
  width: 104%;
  left: -2%;
}

.item {
  display: flex;
  border: 2px dashed #9cecde;
  border-radius: 20px;
  min-height: 30px;
}
.item__name {
  padding: 0;
  margin: 0 20px;
}