.item {
  margin-bottom: 3px;
  padding: 0 0 0 15px;
  width: 100%;
  min-height: 35px;
  border-radius: 20px 0 0 20px;
  background-color: rgba(109,228,207, .7);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.item__column {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
}