.item__buttons {
  height: 100%;
  min-width: 15px;
  display: flex;
  position: absolute;
  left: 100%;
  background-color: rgba(109,228,207, .7);
  border-radius: 0 20px 20px 0;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.item__button {
  display: flex;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.item__button-image {
  padding: 0;
  display: flex;
  width: 0;
  height: 25px;
  border: none;
  border-radius: 50%;
  opacity: .8;
  transition: .2s;
}

.item__button-image:hover {
  transform: scale(1.5);
}

.item__button-image_visible {
  margin: 0 .3em;
  width: 0;
  animation: appear-buttons .7s forwards;
}

@keyframes appear-buttons {
  0% {
    width: 0;
    scale: 0;
  }
  70% {
    width: 0;
    scale: 0;
  }
  100% {
    width: 25px;
    scale: 1;
  }
}

@keyframes disappear-buttons {
  0% {
    scale: 1;
    width: 25px;
  }
  100% {
    scale: 0;
    width: 0;
  }
}

/* .item__button-image {
  padding: 0;
  margin: 0;
  width: 0;
} */