.result {
  margin: 0 0 15px -15px;
  padding: 0;
  width: calc(100% + 30px);
  grid-column: 1/5;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
}

.result__container:first-of-type{
  margin-bottom: 10px;
}

.result__line {
  margin-bottom: 3px;
  padding: 0 15px;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  box-sizing: border-box;
}

.result__line_balance {
  background-color: rgba(190,190,190, .25);
}

.result__line_balance .result__title {
  font-weight: 500;
}

.result__line_debt {
  background-color: rgb(254,212,76, .8);
  color: black;
}

.result__title {
  padding: 0;
  margin: 0 15px 0 0;
  grid-column: 3/4;
  display: flex;
  justify-self: flex-end;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}
