.initial-data {
  /* margin-right: 7px; */
  /* display: grid;
  grid-template-columns: repeat(3, 150px);
  column-gap: 3px; */
  display: flex;
  /* width: 150px; */
  grid-row: 1/-1;
  grid-column: 1/4;
}

.column {
  /* min-height: 400px; */
  /* width: 150px; */
  margin-right: 3px;
  background-color: #eb539f;
  border-radius: 40px;
  box-shadow: 1px 1px 3px gray;
}

.column:last-of-type {
  margin-right: 0;
}

 .column__title {
  margin: 25px 0;
  /* padding: 0; */
  width: 150px;
  /* grid-row: 2/3; */

  font-size: 18px;
  text-align: center;
}
/* .column__title_name {
  grid-column: 1/2;
} */