.page {
  margin: 0;
}

.parallax {
  position: relative;
  perspective: 1px;
  height: 100vh;
  overflow-y: auto;
}

.parallax-layer {
  position: absolute;
  inset: 0;
  height: 100%;
}

.parallax-image {
  transform: translateZ(-2px) scale(3);
}

.parallax-calculator {
  transform: translateZ(0);
}

.container {
  margin: 200px auto;
  width: 70%;
  display: flex;
  /* flex: 1 1 auto; */
  flex-direction: column;
}