.image {
  position: relative;
}

.image__speaker {
  position: absolute;
  z-index: 2;
}

.image__speaker_left {
  height: 5.2vh;
  top: 13.2vh;
  left: calc(40vw + 25vh);
}
.image__speaker_right {
  height: 5.4vh;
  top: 16.2vh;
  left: calc(40vw + 37.5vh);
}


.image__speaker_shake {
  animation: play infinite .4s;
}

@keyframes play {
  0% {}
  25% {scale: 1.1}
  30% {scale: 1.15; }
  35% {scale: 1}
  50% {scale: 1.2}
  75% {scale: 1.1}
  77% {scale: 1.2}
  80% {scale: 1.18}
  90% {scale: 1.2}
  100% {scale: 1.1}
}

.image__mansTop {
  position: absolute;
  height: 93vh;
  top: 1vh;
  left: 40vw;
}

.image__mansHand {
  position: absolute;
  height: 9vh;
  top: 19vh;
  left: calc(40vw + .5vh);
  transition: all linear .2s;
}

.image__mansHand_shake {
  rotate: 30deg;
  transform: translate(16px, -8px);
}

.image__mansLegs {
  position: absolute;
  width: 24.8vh;
  top: 71vh;
  left: calc(40vw + 13vh);
}

.image__mansBottom {
  position: absolute;
  height: 35.1vh;
  top: 59vh;
  left: 39.9vw;
}

.image__mansFoot {
  position: absolute;
  height: 6.7vh;
  top: 87vh;
  left: calc(40vw + 28.6vh);
  transition: all linear .2s;
}

.image__mansFoot_shake {
  rotate: -18deg;
  transform: translate(12px, -12px);
}